*{
    box-sizing: border-box;
}

.container{
    margin: 20px auto;
    color: grey;
    width: 90%;
}

header{
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
    text-align: center;
    color: grey;
}

.container1{
    display: flex;
    justify-content: space-between;
}

.container2{
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 10px;
    margin-left: 10%;
}

nav{
    padding: 1em;
    width: 10%;
}

nav div{
    margin-top: 20px;
}

main{
    border-radius: 1em;
    border: 1px solid grey;
    height: 400px;
    width: 50%;
    text-align: center;
    padding: 1em;
}

main img{
    width: 90%;
    height: 80%;
}

.articulo1{
    width: 30%;
    border: 1px solid grey;
    border-radius: 1em;
    text-align: center;
    margin: 1em;
}

.articulo1 img{
    width: 90%;
    height: 80%;
    border-radius: 1em;
}

.container2 article{
    width: 90%;
    border-radius: 1em;
    border: 1px solid grey;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.container2 img{
    border-radius: 1em;
    height: 80%;
    width: 90%;
    margin: 1em;
}

footer{
    display: flex;
    justify-content: space-between;
}